.video{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 400px;

    @media (min-width: 622px) {
        height: 442px;
    }
    
    @media (min-width: 1200px) {
        height: 613px;
    }
    
    @media (min-width: 1620px) {
        height: 828px;
    }
}